{% extends "base.html.twig" %}

{% block title "DevCoin - Annonce N°" %}

{% block body %}
    <h3>Modification de l'annonce </h3>

    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-secondary">
            Modifier
        </button>
        {{ form_end(form) }}
    </div>
{% endblock %}
