{% extends "base.html.twig" %}

{% block title "" %}

{% block body %}

    <h2>Annonce : {{ annonce.id }}</h2>

    <div class="row">
        <div class="col-12">
            <img src="{{ asset('uploads/imgAnnonce/'~ annonce.picture) }}" alt="Test"/>
        </div>


    </div>

    <div class="row">
        <div class="col-6">aaa</div>
        <div class="col-6">vvvv</div>
    </div>

{% endblock %}