{% extends 'base.html.twig' %}

{% block title "Importation des annonces" %}

{% block body %}
    <h2>Importation des annonces :</h2>
    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">Importer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
