/**@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
**/

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar.avatar-medium {
    max-width: 64px;
    max-height: 64px;
}

.avatar.avatar-mini {
    max-width: 24px;
    max-height: 24px;
}

.avatar.avatar-micro {
    max-width: 20px;
    max-height: 20px;
}

.title {
    border: solid;
}

a {
    text-decoration: none;
}

.profil {
    text-decoration: none;
    color: black;
}
